* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.layout {
	display: flex;
}

.app-image-container {
	position: relative;
	width: 1000px;
	flex-grow: 1;
	height: 100vh;
	overflow: hidden;
}

.app-image {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
}

.app-form-container {
	flex-grow: 1;
	height: 100vh;
	background: grey;
}

.app-form {
	padding: 1rem;
}

.app-form__input-group {
	margin-bottom: 0.875rem;
}

.app-form__checkbox {
	position: absolute;
	transform: translateX(-9999px);
}

.app-form__label {
	display: block;
	background: lightgrey;
	padding: 1rem;
}

.app-form__checkbox:checked + .app-form__label {
	background: purple;
}
