* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	background: #111;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
	border: 0;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 0.825rem;
	padding: 1rem;
}

.layout {
	display: flex;
}

.layout-title {
	color: white;
	text-transform: capitalize;
}

.app-image-container {
	position: relative;
	width: 1000px;
	flex-grow: 1;
	height: 100vh;
	overflow: hidden;
	padding: 1rem;
}

.app-image {
	position: absolute;
	top: 2rem;
	left: 0;
	display: block;
	width: 105%;
}

.app-image--is-vague {
	opacity: 0.9;
}

.app-image--has-extra-class {
	left: -18px;
	top: calc(2rem - 1px)
}

.legend {
	color: white;
	position: absolute;
	bottom: 1rem;
	left: 1rem;
}

.legend-title {
	margin-bottom: 0.625rem;
	font-weight: semibold;
	font-size: 1.2rem;
}

.legend-text {
	display: flex;
	line-height: 1.6;
}

.legend-bubble {
	display: block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	margin-right: 0.625rem;
}

.legend-bubble--purple {
	background: #7c578a;
}

.legend-bubble--yellow {
	background: #e5b636;
}

.legend-meta {
	font-size: 0.875rem;
	line-height: 1.4;
	margin-top: 0.625rem;
	font-style: italic;
}

.app-form-container {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100vh;
	background: #2f3136;
	padding: 1rem;
}

.app-form__title {
	margin-bottom: 1rem;
	font-weight: semibold;
	font-size: 1.2rem;
	text-align: center;
	color: white;
}

.app-form__input-group {
	margin-bottom: 0.875rem;
}

.app-form__checkbox {
	position: absolute;
	transform: translateX(-9999px);
}

.app-form__label {
	text-align: center;
	font-size: 1rem;
	display: block;
	background: #7c7c7c;
	color: #4d4d4d;
	padding: 1rem;
}

.app-form__checkbox:checked + .app-form__label {
	background: #e5b636;
	color: #000;
}

.rest-button-helper-text {
	margin-bottom: 0.625rem;
	color: white;
	text-align: center;
}

.rest-button {
	background: #e5b636;
	text-transform: uppercase;
	font-weight: 600;
	width: 100%;
}

.rest-button:active {
	transform: scale(0.98);
}

.author-info {
	font-size: 0.875rem;
	font-weight: 200;
	font-style: italic;
	color: #4d4d4d;
	text-align: center;
}
